**/*.map
**/*.min.css
**/*.min.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_data/citations.yml
assets/json/resume.json
_projects/research-ai-goes-rural.md
_projects/research-ai-lesson-planning.md
_projects/research-csforgood.md
_projects/research-innovative-teaching.md
_projects/research-korea-funded.md
_projects/research-robot-arm.md
_projects/research-silicon.md
_projects/research-steam.md
_projects/research-vr-math.md
_projects/service-gist.md
_projects/service-profession.md
_projects/service-reviewing.md
_projects/service-site.md
_projects/service-snue.md
_projects/teaching-ai-sw-camp.md
_projects/teaching-digital-textbook.md
_projects/teaching-gbl.md
_projects/teaching-itda.md
_projects/teaching-k12.md
_projects/teaching-pd.md
_projects/teaching-w200.md
